@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');



body{
    background-color: rgba(240, 233, 233, 0.671);
    text-align: center;
    font-family: 'Rowdies', cursive;

}

input{
    margin: 5px;
}


p{
    margin: 14px;
}

main{
    margin: 150px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(78, 93, 209);
    color: black;
    text-align: center;
    padding: 20px;
    
    }

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(78, 93, 209);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 15px;



   }


   h2{

    font-size: 17px;
    
}