@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');





h1{
    padding: 20px;
}



body{
    text-align: center;
    font-family: 'Rowdies', cursive;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 93, 209);
  color: black;
  text-align: center;
  padding: 20px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(78, 93, 209);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20;
  font-size: 27px;
}


form{
  position: relative;
  top: 200px;
}
form input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    transition-duration: 0.25s;
    font-weight: 300;
    font-family: 'Rowdies', cursive;

  }
  form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }
  form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }
  form button:hover {
    background-color: #f5f7f9;
  }


