<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/redakce/redakce.css">
    <title>Redakce</title>
</head>
<body>
    <header>
        <h1>Redakční režim</h1>
    </header>
    <main>
        <a href="/main/mainView">zpět na články</a>
        <h2>Přidání článku</h2>
        <form id="myForm" action="/main/pridatClanek" method="post">
            <p> Autor:<input type="text" name="autor" id="autor"/><br>
            Datum a čas:<input type="date" name="datumACas" id="datumACas"><br>
            Nadpis:<input type="text" name="nadpis" id="nadpis">
            
            <div>
            <label for="obsah"></label>
            Obsah:</p>
            <textarea name="obsah" id="obsah" required rows="3" cols="40"></textarea>
            </div>
            <input type="submit" value="Přidat">
        
        </form>
    </main>
    <footer>

    <%- include("../stejne/paticka.ejs") -%>
</body>
</html>